/* Header */
header {
    height: 75px;
    background-color: #06131F;
}

header .container {
    height: 100%;
}

header i {
    color: #1DB954;
    font-size: 40px;
}

/* Main */
main {
    height: calc(100vh - 75px);
    background-color: #1D2D3C;
}

main .card {
    height: 100%;
    background-color: #112030;
    color: white;
}